:root {
    --dark-blue: #152238;
    --gold: #DEB887;
    --grey: #D9D9D9;
    --button-color: #23395D;

}
/* ~~~~~~~~~~~~~~~~~ CSS reset ~~~~~~~~~~~~~~~~~ */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

a{
    text-decoration: none;
    color: white;
}
body {
    background-color: var(--dark-blue);
     /* min-width: 100vh; */
}
/* ~~~~~~~~~~~~~~~~~ header ~~~~~~~~~~~~~~~~~ */
header nav {
    display: flex;
    justify-content: space-between;
    padding: 20px 30px;
    align-items: center;
    letter-spacing: 6px;
    font-size: 18px;
}
.main-container-index {
    height: 100vh;
} 
/* ~~~~~~~~ explore top section ~~~~~~~~~~~~~ */
.explore {
    display: flex;
    flex-direction: column;
    height: 30vh;
    justify-content: center;
    margin-left: 200px;
}
.explore h1, h2 {
    font-size: 50px;
    color: white;
    display: inline;
    letter-spacing: 20px;
    font-weight: 100;
}
/* ~~~~~~~~ daily astro section ~~~~~~~~~~~~~ */
.daily {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 20px;
    align-items: center;
    text-align: center;
    color: white;
    letter-spacing: 2px;
}
.daily button {
    width: 350px;
    height: 40px;
    background-color: var(--gold);
    color: white;
    border-radius: 25px;
    font-size: 20px;
    margin-bottom: 10px;
    letter-spacing: 1px;
    border: none;
}
/* ~~~~~~~~ search section ~~~~~~~~~~~~~ */
.search {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    letter-spacing: 2px;
    font-size: 20px;
    text-align: center;
    padding: 20px 20px;
}
#invalid {
    padding-top: 10px;
    color: lightcoral;
}
.search input {
    width: 180px;
    height: 35px;
    text-align: center;
    font-size: 18px;
    border-radius: 20px;
    margin-top: 8px;
    background-color: #D9D9D9;
    color: white;
}
.search button {
    margin-top: 10px;
    width: 140px;
    height: 30px;
    border-radius: 20px;
    font-size: 18px;
    background-color: var(--button-color);
    color: white;
    border: none;
}
/* ~~~~~~~~ footer ~~~~~~~~~~~~~ */
footer {
    display: flex;
    justify-content: end;
    align-items: end;
    padding: 0 15px;
    /* border: 2px solid blueviolet; */
}
/* ~~~~~~~~ details page ~~~~~~~~~~~~~ */
.details-container {
    display: flex;
    justify-content: space-around;
    padding: 65px 50px;
}
.details-container img {
    height: 500px;
    object-fit: cover;
}
embed {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    object-fit: cover;
}

#image {
    width: 400%;
    height: 500px;
}

.details-container section {
    display: flex;
    text-align: center;
    justify-content: space-around;
    flex-direction: column;
    font-size: 18px;
    padding: 0px 70px;
    color: whitesmoke;
    line-height: 25px;
    letter-spacing: 2px;
}
.error {
    color: lightcoral;
}
/* ~~~~~~~~ media queries ipad & iphone index page ~~~~~~~~~~~~~ */
@media (max-width: 850px) {
    .explore {
        margin-left: 0px;
        align-items: center;
    }
    .daily {
    padding: 0px 20px;
    font-size: 18px;
}
}
@media (max-width: 480px) {
    .explore h1, h2 {
        font-size: 20px;
        display: block;
        letter-spacing: 5px;
    }
    .explore {
         margin-left: 0px;
         flex-direction: row;
    }
    .daily button {
        width: 300px;
        height: 30px;
        font-size: 18px;
    }
    .daily p {
        line-height: 1.2;
    }
    .search {
        font-size: 18px;
    }
    .search input {
        width: 175px;
        height: 30px;
    }
    .search button {
        width: 125px;
        font-size: 18px;
    }
}
/* ~~~~~~~~ media queries ipad and iphone details page ~~~~~~~~~~~~~ */
@media (max-width: 1290px) {
    .details-container {
        flex-direction: column;
    }
    .details-container section {
        padding: 10px;
    }
    .details-container img {
        width: 100%;
        height: 600px;
        padding-bottom: 150px;
    }
    .details-container h1, h3 {
        padding: 15px 0;
    }
    #image {
        width: 100%;
        height: 500px;
    }
}
@media (max-width: 850px) {
    .details-container img {
        height: 500px;
    }
}
@media (max-width: 550px) {
    .details-container img {
        height: 400px;
        padding-bottom: 0px;
    }
    .details-container section {
        padding: 0 10px;
    }
    #image {
        width: 100%;
        height: 500px;
    }

}